
<div class="line-item-table-wrapper">
  <table id="line-item-detail-table">
    <thead>
      <tr>
        <th colspan=2 class="hidden line-item-table-buttons"></th>
        <th colspan=19></th>
        <th colspan=5>Height</th>
        <th colspan=2>Door Handle</th>
        <th>Resaque</th>
        <th colspan=2>Price</th>
      </tr>

      <tr>
        <th colspan=2 class="hidden line-item-table-buttons"></th>
        <th>#</th>
        <th>Product</th>
        <th>Type</th>
        <th>Location</th>
        <th>Mount</th>
        <th>Frame</th>
        <th colspan=2>Trim</th>
        <th>Doors</th>
        <th># of Tposts</th>
        <th>Louver</th>
        <th>Tilt Rod</th>
        <th>Finish</th>
        <th>Stain</th>
        <th>Color</th>
        <th colspan=2>Hinges</th>
        <th>Width</th>
        <th>Height</th>
        <th>Center</th>
        <th>Left</th>
        <th>Right</th>
        <th>Middle</th>
        <th>Divider</th>
        <th>Height</th>
        <th>Cutout</th>
        <th>L frame</th>
        <th>Per Sq. Ft.</th>
        <th>Total</th>
      </tr>
    </thead>

    {% for item in lineitem %}
    <tbody>
      <tr>
        <td class="hidden line-item-table-buttons">
          <a class="btn btn-yellow" href="{% url 'orders:edit-line-item' item.id %}" role="button">Edit</a>
        </td>
        <td class="hidden line-item-table-buttons">
          <a class="btn btn-red" href="{% url 'orders:delete' item.id item.proposal_id %}" role="button">X</a>
        </td>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.product }}</td>
        <td>{{ item.shutter_type }}</td>
        <td>{{ item.location }}</td>
        <td>{{ item.mount }}</td>
        <td>{{ item.frame_type|default_if_none:"" }}</td>
        <td>{{ item.trim|default_if_none:"" }}</td>
        <td>{{ item.trim_style|default_if_none:"" }}</td>
        <td>{{ item.panels }}</td>
        <td>{{ item.t_post|default_if_none:"" }}</td>
        <td>{{ item.get_louver_display }}</td>
        <td>{{ item.tilt_rod }}</td>
        <td>{{ item.finish }}</td>
        <td>{{ item.stain|default_if_none:"" }}</td>
        <td>{{ item.color }}</td>
        <td>{{ item.hinges }}</td>
        <td>{{ item.hinge_color }}</td>
        <td>{{ item.width }} {{ item.get_width_fraction_display }}</td>
        <td>{{ item.height|default_if_none:"" }} {{ item.get_height_fraction_display }}</td>
        <td>{{ item.height_center|default_if_none:"" }} {{ item.get_height_center_fraction_display }}</td>
        <td>{{ item.height_left|default_if_none:"" }} {{ item.get_height_left_fraction_display }}</td>
        <td>{{ item.height_right|default_if_none:"" }} {{ item.get_height_right_fraction_display }}</td>
        <td>{{ item.height_middle|default_if_none:"" }} {{ item.get_height_middle_fraction_display }}</td>
        <td>{{ item.height_divider|default_if_none:"" }} {{ item.get_height_divider_fraction_display }}</td>
        <td>{{ item.height_door_knob|default_if_none:"" }} {{ item.get_height_door_knob_fraction_display }}</td>
        <td>{{ item.door_handle_cutout|default_if_none:"" }}</td>
        <td>{{ item.resaque_lframe|yesno:"Yes," }}</td>
        <td>$ {{ item.price_per_sq_ft }}</td>
        <td>$ {{ item.totalPrice }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>
</div>
