{% extends "dashboard/home.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Create Proposal{% endblock %}

{% block contentclass %}report-wrapper{% endblock %}

{% block menu %}
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 textcenter mt content-menu">
    <button class="btn btn-theme02 noprint" id="main-edit-button">Edit</button>
    <button class="btn btn-theme02 noprint">
      <a onclick="javascript:print();">Print</a>
    </button>
    <button class="btn btn-theme02 noprint">
      <a href="{% url 'manufacturing:report' proposal.id %}">Create Manufacturing Report</a>
    </button>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 ra">
    <h1>Proposal</h1>
  </div>
</div>
<hr/>
<div id="letterhead" letterhead-url="{% url 'dashboard:ajax_load_letterhead' %}"></div>
<br>
<br>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <h3>Prepared For:</h3>
    {% include "orders/detail_customer.html" %}
    <button class="btn btn-theme02 noprint hidden edit-button">
      <a href="{% url 'orders:edit-customer' customer.id %}">Edit</a>
    </button> <!-- EDIT customer -->
  </div>
  <div class="col-lg-2 col-md-2 col-sm-12">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 ra">
    {% include "orders/detail_proposal.html" %}
    <button class="btn btn-theme02 noprint hidden edit-button">
      <a  href="{% url 'orders:edit-proposal' proposal.id %}">Edit</a>
    </button> <!-- EDIT agents, measured by -->
  </div>
</div>

<br>

<div class="row">
  <div class = "col-lg-12 col-md-12 col-sm-12">
    {% include "orders/detail_line_item.html" %}
  </div>
</div>
<button class="btn btn-theme02 noprint rf pl hidden edit-button">
  <a  href="{% url 'orders:edit-line-item' proposal.id %}">Edit</a>
</button> <!-- EDIT line items -->

<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="report-section">
      <h5>Notes: </h5>
      {{ proposal.notes }}
    </div>
    <button class="btn btn-theme02 noprint rf hidden edit-button">
      <a  href="{% url 'orders:edit-proposal' proposal.id %}">Edit</a>
    </button>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="report-section">
      <table id="total-table" style="display:none;">
        <tbody>
          <tr>
            <td>Subtotal</td>
            <td class="ra">${{ subtotal }}</td>
          </tr>
          <tr>
            <td>Tax</td>
            <td class="ra">${{ tax }}</td>
          </tr>
          <tr class="table-total-row">
            <td><b>TOTAL</b></td>
            <td class="ra">${{ total }}</td>
          </tr>
        </tbody>
      </table> <!-- table WITH tax -->

      <table id="total-table">
        <tbody>
          <tr>
            <td><b>TOTAL</b></td>
            <td class="ra">${{ subtotal }}</td>
          </tr>
        </tbody>
      </table> <!-- table WITHOUT tax -->
    </div>

    <button id="tax-button" class="btn btn-theme02 noprint rf hidden edit-button">
      Add/Remove Tax
    </button> <!-- toggle total with/without tax -->
  </div>
</div>

<div class="row justify-content-end">
  <div class="col-lg-4 col-md-4 col-sm-4">
    <p class="signature textcenter">Customer Signature</p>
  </div>
</div>
{% endblock %}
