{% load widget_tweaks %}

<p>Order Details</p>
<div class="inner-wrapper">
  <form id="proposal-form" method="post">
    {% csrf_token %}
    {{ form.customer.as_hidden }}
    {{ form.status.as_hidden }}
    <div class="form-row">
      <div class="form-group col-3 col-md-2">
        {{ form.created_date.label_tag }}
        {% render_field  form.created_date class="form-control" %}
      </div>
    </div>

    <div class="form-row">
        <div class="col-4 col-md-2">
          {{ form.agents.label_tag }}
          {% render_field  form.agents class="form-control big-field" %}
        </div>
        <div class="col-4 col-md-2">
          {{ form.measured_by.label_tag }}
          {% render_field  form.measured_by class="form-control big-field" %}
        </div>
        <div class="col-md-8">
          {{ form.notes.label_tag }}
          {% render_field  form.notes class="form-control big-field" %}
        </div>
    </div>

    <input class="btn btn-theme rf" type="submit" value="OK"/>
  </form>
</div>
