{% load widget_tweaks %}

<p>Order Details</p>
<div class="inner-wrapper">
  <form id="proposal-form" method="post">
    {% csrf_token %}
    {{ form.customer.as_hidden }}
    {{ form.status.as_hidden }}
    <div class="form-row">
      <div class="form-group col-3 col-md-2">
        {{ form.created_date.label_tag }}
        {% render_field  form.created_date class="form-control" %}
      </div>
    </div>

    <div class="form-row">
        <div class="col-4 col-md-2">
          {{ form.finish.label_tag }}
          {% render_field  form.finish class="custom-select mr-sm-2" %}
        </div>
        <div id="stain-field" class="col-4 col-md-2 hidden">
          {{ form.stain.label_tag }}
          {% render_field  form.stain class="custom-select mr-sm-2" %}
        </div>
        <div class="col-4 col-md-2">
          {{ form.color.label_tag }}
          {% render_field  form.color class="form-control" %}
        </div>
        <div class="col-3 col-md-2">
          {{ form.louver.label_tag }}
          {% render_field  form.louver class="custom-select mr-sm-2" %}
        </div>
        <div class="col-3 col-md-2">
          {{ form.tilt_rod.label_tag }}
          {% render_field  form.tilt_rod class="custom-select mr-sm-2" %}
        </div>
        <div class="col-3 col-md-2">
          {{ form.hinges.label_tag }}
          {% render_field  form.hinges class="custom-select mr-sm-2" %}
        </div>
        <div class="col-3 col-md-2">
          {{ form.hinge_color.label_tag }}
          {% render_field  form.hinge_color class="custom-select mr-sm-2" %}
        </div>
    </div>

    <div class="form-row">
        <div class="col-4 col-md-2">
          {{ form.agents.label_tag }}
          {% render_field  form.agents class="form-control big-field" %}
        </div>
        <div class="col-4 col-md-2">
          {{ form.measured_by.label_tag }}
          {% render_field  form.measured_by class="form-control big-field" %}
        </div>
        <div class="col-md-8">
          {{ form.notes.label_tag }}
          {% render_field  form.notes class="form-control big-field" %}
        </div>
    </div>

    <input class="btn btn-theme rf" type="submit" value="OK"/>
  </form>
</div>
