{% load widget_tweaks %}
{% load static %}

<p>Line Item Entry Form</p>
<div class="inner-wrapper">
  <form id="line-item-form" method="post">
    {% csrf_token %}
    {{ form.proposal.as_hidden }}
    <div class="row">
      <div class = "col-lg-7 col-md-7 col-sm-7">
        <div class="form-section">
          <div class="form-row">
            <div class="col-3">
            {{ form.product.label_tag }}
            {% render_field  form.product class="custom-select mr-sm-2" %}
            </div>
            <div class="col-9">
            {{ form.shutter_type.label_tag }}
            {% render_field  form.shutter_type class="custom-select mr-sm-2" %}
            </div>
            <div class="col">
            {{ form.location.label_tag }}
            {% render_field  form.location class="form-control" %}
            </div>
            <div class=" col mount-field">
            {{ form.mount.label_tag }}
            {% render_field  form.mount class="custom-select mr-sm-2" %}
            </div>
            <div class="col-2 hidden trim-field">
            {{ form.trim.label_tag }}
            {% render_field  form.trim class="custom-select mr-sm-2" %}
            </div>
            <div class="col hidden trim-field">
            {{ form.trim_style.label_tag }}
            {% render_field  form.trim_style class="custom-select mr-sm-2" %}
            </div>
          </div>
        </div>

        <div class="form-section">
          <div class="form-row">
            <div class="col-3  col-md-2">
              {{ form.width.label_tag }}
              {% render_field  form.width class="form-control" %}
            </div>
            <div class="col-3 col-md-2 no-label">
              {% render_field  form.width_fraction class="custom-select mr-sm-2" %}
            </div>
            <div class="col-3 col-md-2 height-field">
              {{ form.height.label_tag }}
              {% render_field  form.height class="form-control" %}
            </div>
            <div class="col-3 col-md-2 no-label height-field">
              {% render_field  form.height_fraction class="custom-select mr-sm-2" %}
            </div>
          </div>
          <div class="form-row">
            <div class="col-3 col-md-2 door-field hidden">
              <label>Door Knob</label>
              {% render_field  form.height_door_knob class="form-control" %}
            </div>
            <div class="col-3 col-md-2 no-label door-field hidden">
              {% render_field  form.height_door_knob_fraction class="custom-select mr-sm-2" %}
            </div>
            <div class="col-4 door-field hidden">
              {{ form.door_handle_cutout.label_tag }}
              {% render_field  form.door_handle_cutout class="custom-select mr-sm-2" %}
            </div>
            <div class="col-6 door-field hidden">
              <label>Resaque Lframe</label>
              {% render_field  form.resaque_lframe class="mr-sm-2" %}
            </div>
          </div>
        </div>

        <div class="form-section height-center-field hidden">
          <div class="form-row">
            <div class="col-3 height-lr-field hidden">
              {{ form.height_left.label_tag }}
              {% render_field  form.height_left class="form-control" %}
            </div>
            <div class="col-3 col-md-2 no-label height-lr-field hidden">
              {% render_field  form.height_left_fraction class="custom-select mr-sm-2" %}
            </div>
            <div class="col-3 height-m-field hidden">
              {{ form.height_middle.label_tag }}
              {% render_field  form.height_middle class="form-control" %}
            </div>
            <div class="col-3 col-md-2 no-label height-m-field hidden">
              {% render_field  form.height_middle_fraction class="custom-select mr-sm-2" %}
            </div>
          </div>
          <div class="form-row">
            <div class="col-3 height-lr-field hidden">
              {{ form.height_right.label_tag }}
              {% render_field  form.height_right class="form-control" %}
            </div>
            <div class="col-3 col-md-2 no-label height-lr-field hidden">
              {% render_field  form.height_right_fraction class="custom-select mr-sm-2" %}
            </div>
            <div class="col-3 height-center-field hidden">
              {{ form.height_center.label_tag }}
              {% render_field  form.height_center class="form-control" %}
            </div>
            <div class="col-3 col-md-2 no-label height-center-field hidden">
              {% render_field  form.height_center_fraction class="custom-select mr-sm-2" %}
            </div>
          </div>
        </div>

        <div class="form-section">
          <div class="form-row">
            <div class="col-3 col-md-2 panel-field">
              <label>Doors</label>
              {% render_field  form.panels class="form-control" %}
            </div>
            <div class="col-3">
              {{ form.hinges.label_tag }}
              {% render_field  form.hinges class="custom-select mr-sm-2" %}
            </div>
            <div class="col-3">
              {{ form.price_per_sq_ft.label_tag }}
              {% render_field  form.price_per_sq_ft class="form-control" %}
            </div>
          </div>
        </div>
      </div>

      <div class = "col-lg-5 col-md-5 col-sm-5">
        <div class="form-section textcenter shutter-model-img-section">
          <img class="shutter-model-img" src="" alt="">
        </div>

        <div class="form-section textcenter shutter-model-img-guide-section" style="display: none;">
          <img class="shutter-model-img-guide" src="" alt="">
        </div>

        <div class="form-section divider-field" style="display:none;">
          <div class="form-row">
            <div class="col-4">
              <label>Divider Height</label>
              {% render_field  form.height_divider class="form-control" %}
            </div>
            <div class="col-3 no-label">
              {% render_field  form.height_divider_fraction class="custom-select mr-sm-2" %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <input class="btn btn-theme rf" type="submit" value="Add"/>
  </form>
  <button id="divider-button" class="btn btn-theme02">Add/Remove Divider</button>
  <button id="measurement-guide-button" class="btn btn-theme02">Show/Hide Measurement Guide</button>
</div>
