{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block navbar %}{% endblock %}

{% block header %}
<header class="noprint">
  <div class="container">
    <div class="header-wrapper clearfix">
      <div id="header-logo">
        <img src="{% static 'img/shutterize_logo.png' %}" alt="Shutterize Software">
      </div>

      <div id="header-text">
        <h4 id="header-title">Shutterize</h4>
      </div>
    </div>
  </div>
</header>
{% endblock %}


{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}


<div class="section-wrapper-small">
  <form id="login-form" class="form-signin" method="post" action="{% url 'login' %}">
  {% csrf_token %}
    <h2>Please sign in</h2>
    <div>
      {% render_field  form.username class="form-control input-username" placeholder=form.username.label %}
    </div>
    <div>
      {% render_field  form.password class="form-control input-password" placeholder=form.password.label %}
    </div>
    <div>
      <input class="btn btn-block" type="submit" value="Sign in"/>
    </div>
  </form>
</div>

{% endblock %}
