{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Login{% endblock %}
{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}" />{% endblock %}

{% block header %}{% endblock %}
{% block sidebar %}{% endblock %}


{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<form class="form-signin" method="post" action="{% url 'login' %}">
{% csrf_token %}
  <h2 class="form-signin-heading">Please sign in</h2>
  <div>
    {% render_field  form.username class="form-control input-username" placeholder=form.username.label %}
  </div>
  <div>
    {% render_field  form.password class="form-control input-password" placeholder=form.password.label %}
  </div>
  <div>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in"/>
  </div>
</form>

{% endblock %}


{% block footer %}{% endblock %}
