{% load static %}{% load widget_tweaks %}<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'css/bootstrap.min.css' %}{% endblock %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style-responsive.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous"/>
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block responsive %}<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}
  </head>
  {% load i18n %}

  <body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now 'Z' %}">

    <section id="container">

      {% if not is_popup %}
        <!-- START header -->
        {% block header %}
        <header class="header black-bg">
          <div class="sidebar-toggle-box">
            <div class="fa fa-bars"></div>
          </div>

          <!--logo start-->
          <a href="home" class="logo"><b>LOGO</b></a>
          <!--logo end-->

          <div class="top-menu">
            <ul class="nav fa-pull-right top-menu">
              <li><a class="logout" href="/">Logout</a></li>
            </ul>
          </div>
        </header>
        {% endblock %}
        <!-- END header -->
      {% endif %}

      <!-- START sidebar -->
      <aside>
        {% block sidebar %}
        <div id="sidebar">
          <ul class="sidebar-menu" id="nav-accordion">
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fas fa-file-signature"></i>
                <span>Proposal</span>
              </a>
              <ul class="sub">
                <li><a href="{% url 'proposal:create-customer' %}">Create New</a></li>
                <li><a href="{% url 'proposal:create-customer' %}">Update Existing</a></li>
              </ul>
            </li>
            <li class="sub-menu">
              <a href="javascript:;">
                <i class="fas fa-cogs"></i>
                <span>Manufacturing Report</span>
              </a>
              <ul class="sub">
                <li><a href="{% url 'proposal:create-customer' %}">Create New</a></li>
                <li><a href="{% url 'proposal:create-customer' %}">Update Existing</a></li>
              </ul>
            </li>
          </ul>
        </div>
        {% endblock %}
      </aside>
      <!-- END sidebar -->

      <!-- START content -->
      <section id="main-content">
        <section class="wrapper">
          {% block content %}
          {{ content }}
          {% endblock %}
        </section>
      </section>
      <!-- END content -->

    </section>


    <!--common JS -->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script class="include" type="text/javascript" src="{% static 'js/jquery.dcjqaccordion.2.7.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common-scripts.js' %}"></script>
    <script type="text/javascript" src="{% block extrajs %}{% endblock %}"></script>

  </body>
</html>
