{% load static %}

<div class="row mt">
  <div class = "col-lg-8 col-md-8 col-sm-12">
    <div id="company-logo">
      <img src="{% static 'img/jmblinds_logo.png' %}" alt="JM Curtain Designer and Blinds L.L.C">
    </div>
  </div>

  <div class = "col-lg-4 col-md-4 col-sm-12">
    <p class="ra">
      901 Perkins Ave. Ste. A.<br>
      Mission, TX 78572<br>
      (956) 583-9531<br>
      www.jmblindsrgv.com<br>
      <b>Toll Free:</b> (1) 877-271-9894
    </p>
  </div>
</div> <!-- END company letterhead -->
