{% extends "dashboard/home.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Create Proposal{% endblock %}


{% block content %}
<div id="form-block">
  {% if current == "Customer" %}
    {% include "proposal/form_customer.html" %}
  {% elif current == "Proposal" %}
    {% include "proposal/form_proposal.html" %}
  {% elif current == "Line Item" %}
    {% include "proposal/form_line_item.html" %}
  {% elif current == "Line Item Edit" %}
    {% include "proposal/form_line_item_edit.html" %}
  {% endif %}
</div>
{% endblock %}
