{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Add Line Items{% endblock %}

{% block content %}
<div class="row mt">
  <div class = "col-lg-6 col-md-6 col-sm-12">
    <h4>Prepared for:</h4>
    <h6>{{ customer.first_name }} {{ customer.last_name }}</h6>
    <p>
      <b>Address:</b> {{ customer.address }}, {{ customer.city }}, {{ customer.zip_code }}
      <br>
      <b>Phone:</b> {{ customer.home_phone }}
      <br>
      <b>Email:</b> {{ customer.email }}
    </p>

    <p>
      <b>Date:</b> {{ proposal.created_date }}
    </p>

    <p>
      <b>Agents:</b>
      <br>
      {% for agent in agents %}
      {{ agent.first_name }} {{ agent.last_name }}
      <br>
      {% endfor %}
      <br>

      <b>Measured by:</b>
      <br>
      {% for agent in measuredby %}
      {{ agent.first_name }} {{ agent.last_name }}
      <br>
      {% endfor %}
      <br>
    </p>

    <form method="post" id="productForm" data-styles-url="{% url 'proposal:ajax-load-styles' %}" novalidate>
      {% csrf_token %}
      {{ form.as_table }}
      {{ formset.management_form }}
      <table>
        <thead>
          {% for form in formset.forms %}
            {% if forloop.first %}
              {% for field in form.visible_fields %}
                <th>{{ field.label_tag }}</th>
              {% endfor %}
            {% endif %}
        </thead>
        <tbody>
            <tr>
              {% for field in form %}
                <td>{{ field }}</td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <input type="submit" value="OK"/>
    </form>
  </div>
</div>

{% endblock %}
