{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Add Line Items{% endblock %}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="{% static 'proposal/css/style.css' %}" />{% endblock %}

{% block content %}
<div class="row mt">
  <div class = "col-lg-6 col-md-6 col-sm-12">

    <!-- START add line item form -->
    <div class="add-lineitem card textcenter mt-3">
      <div class="lineitem-addheading card-header text-white">
        <i class="fas fa-plus"></i> Add Line Item
      </div><!-- card-header git-->

      <div class="card-body">

        <form id="lineItemForm" method="post" line-item-url="{% url 'proposal:load-line-item' %}">
          {% csrf_token %}
          {{ form.as_table }}
          {{ formset.management_form }}

          {% for form in formset.forms %}
            <div class="card-section">
              <div class="form-group">
                {{ form.product.label_tag }}
                {% render_field  form.product %}
              </div>

              <div class="form-group">
                {{ form.style.label_tag }}
                {% render_field  form.style %}
              </div>

              <div class="form-group">
                {{ form.separate_parts.label_tag }}
                {% render_field  form.separate_parts %}
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  {{ form.finish.label_tag }}
                  {% render_field  form.finish %}
                </div>
                <div class="form-group col-md-4">
                  {{ form.stain.label_tag }}
                  {% render_field  form.stain %}
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-5">
                  {{ form.color.label_tag }}
                  {% render_field  form.color %}
                </div>
                <div class="form-group col-md-6">
                  {{ form.location.label_tag }}
                  {% render_field  form.location %}
                </div>
              </div>

            </div>

            <div class="card-section">
              <div class="form-group">
                {{ form.mount.label_tag }}
                {% render_field  form.mount %}
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  {{ form.trim.label_tag }}
                  {% render_field  form.trim %}
                </div>
                <div class="form-group col-md-6">
                  {{ form.trim_style.label_tag }}
                  {% render_field  form.trim_style %}
                </div>
              </div>
            </div>

            <div class="card-section">
              <div class="form-group">
                {{ form.louver.label_tag }}
                {% render_field  form.louver %}
              </div>

              <div class="form-group">
                {{ form.panels.label_tag }}
                {% render_field  form.panels %}
              </div>
            </div>

            <div class="card-section">
              <div class="form-row">
                <div class="form-group col-md-4">
                  {{ form.hinges.label_tag }}
                  {% render_field  form.hinges %}
                </div>
                <div class="form-group col-md-6">
                  {{ form.hinge_color.label_tag }}
                  {% render_field  form.hinge_color %}
                </div>
              </div>
            </div>

            <div class="card-section">
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{ form.t_post.label_tag }}
                  {% render_field  form.t_post %}
                </div>
                <div class="form-group col-md-6">
                  {{ form.tilt_rod.label_tag }}
                  {% render_field  form.tilt_rod %}
                </div>
              </div>
            </div>

            <div class="card-section">
              <div class="form-row">
                <div class="form-group col-md-6">
                  {{ form.width.label_tag }}
                  {% render_field  form.width %}
                </div>
                <div class="form-group col-md-6">
                  {{ form.height.label_tag }}
                  {% render_field  form.height %}
                </div>
              </div>
            </div>

            <div class="card-section">
              <div class="form-row">
                <div class="form-group col-md-4">
                  {{ form.height_center.label_tag }}
                  {% render_field  form.height_center %}
                </div>
                <div class="form-group col-md-4">
                  {{ form.height_left.label_tag }}
                  {% render_field  form.height_left %}
                </div>
                <div class="form-group col-md-4">
                  {{ form.height_right.label_tag }}
                  {% render_field  form.height_right %}
                </div>
              </div>
            </div>

          {% endfor %}
            <input id="loadlineitem" type="submit" value="OK"/>

        </form>

      </div><!-- card-body -->
    </div><!-- card-primary -->
    <!-- END line item form -->
  </div>

  <!-- START proposal WIP -->
  <div class = "col-lg-6 col-md-6 col-sm-12">
    <div class="add-lineitem card textcenter mt-3">
      <div class="lineitem-addheading card-header text-white">
        <i class="fas fa-file-signature"></i> Proposal
      </div><!-- card-header git-->

      <div class="card-body">
        <div class="card-section">
          <h4>Prepared for:</h4>
          <h6>{{ customer.first_name }} {{ customer.last_name }}</h6>
          <p>
            <b>Address:</b> {{ customer.address }}, {{ customer.city }}, {{ customer.zip_code }}
            <br>
            <b>Phone:</b> {{ customer.home_phone }}
            <br>
            <b>Email:</b> {{ customer.email }}
          </p>

          <p>
            <b>Date:</b> {{ proposal.created_date }}
          </p>

          <p>
            <b>Agents:</b>
            <br>
            {% for agent in agents %}
            {{ agent.first_name }} {{ agent.last_name }}
            <br>
            {% endfor %}
            <br>

            <b>Measured by:</b>
            <br>
            {% for agent in measuredby %}
            {{ agent.first_name }} {{ agent.last_name }}
            <br>
            {% endfor %}
            <br>
          </p>

          <div id="lineItemList" class="appointment-list item-list mb-3">
          </div><!-- appointment-list -->
        </div>
      </div>
    </div>
  </div> <!-- END proposal WIP -->

</div>

{% endblock %}

{% block extrajs %}{% static 'proposal/js/proposal.js' %}{% endblock %}
