{% extends "dashboard/create_proposal.html" %}
{% load static %}
{% load widget_tweaks %}

{% block info %}
  <div class="row mt">
    <div class = "col-lg-8 col-md-8 col-sm-12">
      <h6>{{ customer.first_name }} {{ customer.last_name }}</h6>
      <p>
      <b>Address:</b> {{ customer.address }}, {{ customer.city }}, {{ customer.zip_code }}
      <br>
      <b>Phone:</b> {{ customer.home_phone }}
      <br>
      <b>Email:</b> {{ customer.email }}
      </p>
    </div>


    <div class = "col-lg-4 col-md-4 col-sm-12 right-align">
      <p><b>Date:</b> {{ proposal.created_date }}</p>
      <p>
        <b>Agents:</b>
        <br>
        {% for agent in agents %}
        {{ agent.first_name }} {{ agent.last_name }}
        <br>
        {% endfor %}
        <br>

        <b>Measured by:</b>
        <br>
        {% for agent in measuredby %}
        {{ agent.first_name }} {{ agent.last_name }}
        <br>
        {% endfor %}
        <br>

        <p id="proposalId" value="{{ proposal.id }}">
          <b>Proposal ID:</b> {{ proposal.id }}
        </p>
      </p>
    </div>
  </div>

  <div class="row mt">
    <div class = "col-lg-12 col-md-12 col-sm-12">
      {% for item in lineitem %}
        <div class="row mt">
          <div class = "col-lg-12 col-md-12 col-sm-12">
          {{ item.product }} {{ item.style }} {{ item.location }} {{ item.finish }} {{ item.stain }} {{ item.paint }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}


{% block form %}
{% endblock %}
