{% extends "dashboard/home.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Create Proposal{% endblock %}

{% block contentclass %}report-block{% endblock %}

{% block menu %}
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 textcenter mt menu">
    <button class="btn-theme02 noprint">
      <a onclick="javascript:print();">Print</a>
    </button>
    <button class="btn-theme02 noprint">
      <a href="{% url 'manufacturing:report' proposal.id %}">Create Manufacturing Report</a>
    </button>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 right-align">
    <h1>Proposal</h1>
  </div>
</div>
<hr/>
{% include "dashboard/letterhead.html" %}
<br>
<br>

<div class="row mt">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <h3>Prepared For:</h3>
    {% include "proposal/detail_customer.html" %}
    <button class="btn-theme02 noprint">
      <a href="{% url 'proposal:edit-form' proposal.id 1 %}">Edit</a>
    </button>
  </div>
  <div class="col-lg-2 col-md-2 col-sm-12">
  </div>
  <div class="col-lg-6 col-md-6 col-sm-12 right-align">
    {% include "proposal/detail_proposal.html" %}
    <button class="btn-theme02 noprint">
      <a  href="{% url 'proposal:edit-form' proposal.id 2 %}">Edit</a>
    </button>
  </div>
</div>

<br>

<div class="row mt">
  <div class = "col-lg-12 col-md-12 col-sm-12">
    {% include "proposal/detail_line_item.html" %}
  </div>
</div>

<div class="row mt">
  <div class="col-lg-8 col-md-8 col-sm-12">
    {% if var == 1 %}
      <div class="box-style">
        <h5>Notes: </h5>
        {% include "proposal/notes_form.html" %}
      </div>
    {% else %}
      <div class="box-style">
        <h5>Notes: </h5>
        {{ proposal.notes }}
      </div>
      <button class="btn-theme02 noprint right-float">
        <a  href="{% url 'proposal:final-proposal' proposal.id 1 %}">Edit</a>
      </button>
    {% endif %}
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="total-style">
      <h5>Grand Total: ${{ total }}</h5>
    </div>
    <button class="btn-theme02 noprint right-float">
      <a  href="{% url 'proposal:edit-form' proposal.id 3 %}">Edit</a>
    </button>
  </div>
</div>

<br>

<div class="row mt">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <button class="btn-theme btn-lg noprint right-float">
      <a onclick="javascript:print();">Print</a>
    </button>
    <button class="btn-theme btn-lg noprint right-float">
      <a href="{% url 'proposal:approve' proposal.id %}">Approve</a>
    </button>
  </div>
</div>
{% endblock %}
