{% extends "dashboard/create_proposal.html" %}
{% load static %}
{% load widget_tweaks %}

{% block info %}
  <div class="row mt">
    <div class = "col-lg-8 col-md-8 col-sm-12">
      <h6>{{ customer.first_name }} {{ customer.last_name }}</h6>
      <p>
      <b>Address:</b> {{ customer.address }}, {{ customer.city }}, {{ customer.zip_code }}
      <br>
      <b>Phone:</b> {{ customer.home_phone }}
      <br>
      <b>Email:</b> {{ customer.email }}
      </p>
    </div>


    <div class = "col-lg-4 col-md-4 col-sm-12 right-align">
      <p><b>Date:</b> {{ proposal.created_date }}</p>
      <p>
        <b>Agents:</b>
        <br>
        {% for agent in agents %}
        {{ agent.first_name }} {{ agent.last_name }}
        <br>
        {% endfor %}
        <br>

        <b>Measured by:</b>
        <br>
        {% for agent in measuredby %}
        {{ agent.first_name }} {{ agent.last_name }}
        <br>
        {% endfor %}
        <br>

        <p id="proposalId" value="{{ proposal.id }}">
          <b>Proposal ID:</b> {{ proposal.id }}
        </p>
      </p>
    </div>
  </div>

  <div class="row mt">
    <div class = "col-lg-12 col-md-12 col-sm-12">
      <table>
        <tr>
          <th>Product</th>
          <th>Style</th>
          <th>Location</th>
          <th>Finish</th>
          <th>Stain</th>
          <th>Color</th>
        </tr>

        {% for item in lineitem %}
        <tr>
          <td>{{ item.product }}</td>
          <td>{{ item.style }}</td>
          <td>{{ item.location }}</td>
          <td>{{ item.finish }}</td>
          <td>{{ item.stain }}</td>
          <td>{{ item.color }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}


{% block form %}
{% endblock %}
