{% extends "dashboard/home.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}New Proposal{% endblock %}

{% block contentclass %}form-block{% endblock %}

{% block content %}
<p>Proposal Details Entry Form</p>
<form id="proposal-form" method="post" class="form">
  {% csrf_token %}
  {{ form.customer.as_hidden }}
  {{ form.status.as_hidden }}
  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.created_date.label_tag }}
      {% render_field  form.created_date class="form-control" %}
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      {{ form.agents.label_tag }}
      {% render_field  form.agents class="form-control big-field" %}
    </div>
    <div class="form-group col-md-6">
      {{ form.measured_by.label_tag }}
      {% render_field  form.measured_by class="form-control big-field" %}
    </div>
  </div>

  <div class="form-row">
    <div class="col-4">
      {{ form.finish.label_tag }}
      {% render_field  form.finish class="custom-select mr-sm-2" %}
    </div>
    <div id="stain-field" class="col hidden">
      {{ form.stain.label_tag }}
      {% render_field  form.stain class="custom-select mr-sm-2" %}
    </div>
    <div class="col-4">
      {{ form.color.label_tag }}
      {% render_field  form.color class="form-control" %}
    </div>
  </div>

  <div class="form-row">
    <div class="col">
      {{ form.louver.label_tag }}
      {% render_field  form.louver class="custom-select mr-sm-2" %}
    </div>
    <div class="col">
      {{ form.tilt_rod.label_tag }}
      {% render_field  form.tilt_rod class="custom-select mr-sm-2" %}
    </div>
    <div class="col-4">
      {{ form.hinges.label_tag }}
      {% render_field  form.hinges class="custom-select mr-sm-2" %}
    </div>
    <div class="col">
      {{ form.hinge_color.label_tag }}
      {% render_field  form.hinge_color class="custom-select mr-sm-2" %}
    </div>
  </div>

  <div class="form-row">
   <div class="form-group col-md-12">
     {{ form.notes.label_tag }}
     {% render_field  form.notes class="form-control big-field" %}
   </div>
 </div>

  <input class="btn-theme right-float" type="submit" value="OK"/>
</form>
{% endblock %}
