{% extends "dashboard/home.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}New Proposal{% endblock %}

{% block contentclass %}form-wrapper edit-form-wrapper{% endblock %}

{% block content %}
<p>Line Item Entry Form</p>
<form id="line-item-form" method="post" class="form">
  {% csrf_token %}
  {{ form.management_form }}
  {% for form in form %}
  <div class="form-section">
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    <div class="form-section">
      <div class="form-row">
        <div class="col-4 col-md-3 col-lg-2">
          {{ form.product.label_tag }}
          {% render_field  form.product class="custom-select mr-sm-2" %}
        </div>
        <div class="col-8 col-md-5 col-lg-3">
          {{ form.shutter_type.label_tag }}
          {% render_field  form.shutter_type class="custom-select mr-sm-2" %}
        </div>
        <div class="col-4 col-md-2 col-lg-1">
          {{ form.mount.label_tag }}
          {% render_field  form.mount class="custom-select mr-sm-2" %}
        </div>
        <div id="trim-field" class="col-3 col-md-2 col-lg-1">
          {{ form.trim.label_tag }}
          {% render_field  form.trim class="custom-select mr-sm-2" %}
        </div>
        <div id="trim-field" class="col-5 col-md-4 col-lg-2">
          {{ form.trim_style.label_tag }}
          {% render_field  form.trim_style class="custom-select mr-sm-2" %}
        </div>
        <div class="col-4 col-md-4 col-lg-1">
          {{ form.panels.label_tag }}
          {% render_field  form.panels class="form-control" %}
        </div>
        <div class="col-8 col-md-4 col-lg-2">
          {{ form.location.label_tag }}
          {% render_field  form.location class="form-control" %}
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-row">
        <div class="col-3 col-md-2">
          {{ form.width.label_tag }}
          {% render_field  form.width class="form-control" %}
        </div>
        <div class="col-3 col-md-2 no-label">
          {% render_field  form.width_fraction class="custom-select mr-sm-2" %}
        </div>
        <div class="col-3 col-md-2">
          {{ form.height.label_tag }}
          {% render_field  form.height class="form-control" %}
        </div>
        <div class="col-3 col-md-2 no-label">
          {% render_field  form.height_fraction class="custom-select mr-sm-2" %}
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-row">
        <div class="col-3 col-md-2 col-lg-2">
          {{ form.height_left.label_tag }}
          {% render_field  form.height_left class="form-control" %}
        </div>
        <div class="col-3 col-md-2 col-lg-2 no-label">
          {% render_field  form.height_left_fraction class="custom-select mr-sm-2" %}
        </div>
        <div class="col-3 col-md-2 col-lg-2">
          {{ form.height_right.label_tag }}
          {% render_field  form.height_right class="form-control" %}
        </div>
        <div class="col-3 col-md-2 col-lg-2 no-label">
          {% render_field  form.height_right_fraction class="custom-select mr-sm-2" %}
        </div>
        <div class="col-3 col-md-2 col-lg-2">
          {{ form.height_center.label_tag }}
          {% render_field  form.height_center class="form-control" %}
        </div>
        <div class="col-3 col-md-2 col-lg-2 no-label">
          {% render_field  form.height_center_fraction class="custom-select mr-sm-2" %}
        </div>
      </div>
    </div>

    <div class="form-section">
      <div class="form-row">
        <div class="col-4 col-md-2">
          {{ form.price_per_sq_ft.label_tag }}
          {% render_field  form.price_per_sq_ft class="form-control" %}
        </div>
      </div>
    </div>


    <div class="form-row justify-content-end textcenter">
      <div class="col-5 col-md-3 col-lg-2">
        <div class="form-check form-check-delete">
          {% render_field  form.DELETE class="form-check-input" %}
          <label class="form-check-label"> {{ form.DELETE.label }} </label>
        </div>
      </div>
    </div>
  </div>

  {% endfor %}
  <input class="btn btn-theme rf" type="submit" value="OK"/>
</form>
{% endblock %}
