
<table>
  <thead>
    <tr>
      <th>Qty</th>
      <th>Product</th>
      <th>Type</th>
      <th>Location</th>
      <th>Trim</th>
      <th>Trim Style</th>
      <th>Finish</th>
      <th>Stain</th>
      <th>Color</th>
      <th>Price</th>
    </tr>
  </thead>

  {% for item in lineitem %}
  <tbody>
    <tr>
      <td>{{ item.quantity }}</td>
      <td>{{ item.product }}</td>
      <td>{{ item.shutter_type }}</td>
      <td>{{ item.location }}</td>
      <td>{{ item.trim }}</td>
      <td>{{ item.trim_style }}</td>
      <td>{{ item.finish }}</td>
      <td>{{ item.stain }}</td>
      <td>{{ item.color }}</td>
      <td>{{ item.price }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
