
<table>
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Type</th>
      <th>Location</th>
      <th>Trim</th>
      <th>Trim Style</th>
      <th>Price Per Sq. Ft.</th>
    </tr>
  </thead>

  {% for item in lineitem %}
  <tbody>
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ item.product }}</td>
      <td>{{ item.shutter_type }}</td>
      <td>{{ item.location }}</td>
      <td>{{ item.trim }}</td>
      <td>{{ item.trim_style }}</td>
      <td>{{ item.price_per_sq_ft }}</td>
    </tr>
  </tbody>
  {% endfor %}
</table>
