{% extends "dashboard/home.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Create Proposal{% endblock %}

{% block cardheader %}
  Line Items
{% endblock %}

{% block cardcontent %}
<div class="row">
  <div class = "col-lg-3 col-md-3 col-sm-12 textcenter">
  </div>
  <div class = "col-lg-3 col-md-3 col-sm-12 textcenter">
    <button class="btn-theme btn-lg">
      <a class="btn-theme" href="{% url 'proposal:add-line-item' p_id %}">Add Line Item</a>
    </button>
  </div>
  <div class = "col-lg-3 col-md-3 col-sm-12">
    <button class="btn-theme btn-lg">
      <a class="btn-theme" href="{% url 'proposal:final-proposal' p_id %}">Finish</a>
    </button>
  </div>
  <div class = "col-lg-3 col-md-3 col-sm-12 textcenter">
  </div>
</div>
{% endblock %}
