{% extends "dashboard/home.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}New Proposal{% endblock %}

{% block contentclass %}small-wrapper{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <button class="btn btn-theme02">
        <a href="{% url 'proposal:add-line-item' p_id %}">Add Another</a>
      </button>
    </div>
    <div class="col-6">
      <button class="btn btn-theme02">
        <a href="{% url 'proposal:add-proposal' p_id %}">Continue</a>
      </button>
    </div>
  </div>
</div>
{% endblock %}
