{% extends "dashboard/home.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}New Proposal{% endblock %}

{% block content %}
<div class="options-box">
  <div class="row">
    <div class = "col-lg-6 col-md-6 col-sm-12 textcenter">
      <button class="btn-theme btn-lg">
        <a class="btn-theme" href="{% url 'proposal:add-line-item' p_id %}">Add Another</a>
      </button>
    </div>
    <div class = "col-lg-6 col-md-6 col-sm-12">
      <button class="btn-theme btn-lg">
        <a class="btn-theme" href="{% url 'proposal:add-proposal' p_id %}">Continue</a>
      </button>
    </div>
  </div>
</div>
{% endblock %}
