{% load widget_tweaks %}

<form method="post">
  {% csrf_token %}

  <div class="row mt">
    <div class = "col-lg-6 col-md-6 col-sm-12">
      <div class="card-section line-item-card">
          <div class="form-group">
            {{ form.product.label_tag }}
            {% render_field  form.product %}
          </div>

          <div class="form-group">
            {{ form.shutter_type.label_tag }}
            {% render_field  form.shutter_type %}
          </div>

          <div class="form-group">
            {{ form.separate_parts.label_tag }}
            {% render_field  form.separate_parts %}
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              {{ form.finish.label_tag }}
              {% render_field  form.finish %}
            </div>
            <div class="form-group col-md-4">
              {{ form.stain.label_tag }}
              {% render_field  form.stain %}
            </div>
          </div>

          <div class="form-group">
            {{ form.color.label_tag }}
            {% render_field  form.color %}
          </div>

          <div class="form-group">
            {{ form.location.label_tag }}
            {% render_field  form.location %}
          </div>
      </div>

      <div class="card-section line-item-card">
        <div class="form-group">
          {{ form.hinges.label_tag }}
          {% render_field  form.hinges %}
        </div>

        <div class="form-group">
          {{ form.hinge_color.label_tag }}
          {% render_field  form.hinge_color %}
        </div>
      </div>
    </div>

    <div class = "col-lg-6 col-md-6 col-sm-12">
      <div class="card-section line-item-card">
        <div class="form-group">
          {{ form.mount.label_tag }}
          {% render_field  form.mount %}
        </div>

        <div class="form-group">
          {{ form.trim.label_tag }}
          {% render_field  form.trim %}
        </div>

        <div class="form-group">
          {{ form.trim_style.label_tag }}
          {% render_field  form.trim_style %}
        </div>
      </div>

      <div class="card-section line-item-card">
        <div class="form-group">
          {{ form.louver.label_tag }}
          {% render_field  form.louver %}
        </div>

        <div class="form-group">
          {{ form.panels.label_tag }}
          {% render_field  form.panels %}
        </div>
      </div>

      <div class="card-section line-item-card">
        <div class="form-group">
          {{ form.t_post.label_tag }}
          {% render_field  form.t_post %}
        </div>

        <div class="form-group">
          {{ form.tilt_rod.label_tag }}
          {% render_field  form.tilt_rod %}
        </div>
      </div>
    </div>
  </div>

  <div class="row mt">
    <div class = "col-lg-12 col-md-12 col-sm-12">
      <div class="card-section line-item-card">
        <div class="form-row">
          <div class="form-group col-md-6">
            {{ form.width.label_tag }}
            {% render_field  form.width %}
          </div>
          <div class="form-group col-md-6">
            {{ form.height.label_tag }}
            {% render_field  form.height %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt">
    <div class = "col-lg-12 col-md-12 col-sm-12">
      <div class="card-section line-item-card">
        <div class="form-row">
          <div class="form-group col-md-4">
            {{ form.height_center.label_tag }}
            {% render_field  form.height_center %}
          </div>
          <div class="form-group col-md-4">
            {{ form.height_left.label_tag }}
            {% render_field  form.height_left %}
          </div>
          <div class="form-group col-md-4">
            {{ form.height_right.label_tag }}
            {% render_field  form.height_right %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt">
    <div class = "col-lg-12 col-md-12 col-sm-12">
      <div class="card-section line-item-card">
        <div class="form-row">
          <div class="form-group col-md-4">
            {{ form.price.label_tag }}
            {% render_field  form.price %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <input id="loadlineitem" type="submit" value="OK"/>

</form>
