<div class = "col-lg-4 col-md-4 col-sm-12 right-align">
  <p><b>Date:</b> {{ proposal.created_date }}</p>

  <p id="proposalId" value="{{ proposal.id }}">
    <b>Proposal ID:</b> {{ proposal.id }}
  </p>

  <br>

  <p>
    <b>Agents:</b>
    <br>
    {% for agent in agents %}
    {{ agent.first_name }} {{ agent.last_name }}
    <br>
    {% endfor %}
    <br>

    <b>Measured by:</b>
    <br>
    {% for agent in measuredby %}
    {{ agent.first_name }} {{ agent.last_name }}
    <br>
    {% endfor %}
    <br>
  </p>
</div>
