<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <table>
    <thead>
      {% for form in formset %}
        {% if forloop.first %}
          {% for field in form %}
              <th>{{ field.label_tag }}</th>
          {% endfor %}
        {% endif %}
    </thead>
    <tbody>
        <tr>
          {% for field in form %}
            <td>{{ field }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <input type="submit" value="OK"/>
</form>
