{% extends "dashboard/home.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Create Proposal{% endblock %}

{% block template_header %}
  {% include "dashboard/template_header.html" %}
{% endblock %}

{% block subcontent %}
  <div class="row mt">
    {% include "proposal/customer_info.html" %}

    {% include "proposal/proposal_info.html" %}
  </div>

  <div class="row mt">
    <table>
      <thead>
        <tr>
          <th colspan=1></th>
          <th colspan=1></th>
          <th colspan=2>L-Frame</th>
          <th colspan=2>Louver</th>
          <th colspan=2>Rail</th>
          <th colspan=2>Stile</th>
          <th colspan=1>Trim</th>
        </tr>
        <tr>
          <th colspan=1>Product Type</th>
          <th colspan=1>Location</th>
          <th colspan=1>Width</th>
          <th colspan=1>Height</th>
          <th colspan=1>Qty</th>
          <th colspan=1>Measurement</th>
          <th colspan=1>Qty</th>
          <th colspan=1>Measurement</th>
          <th colspan=1>Qty</th>
          <th colspan=1>Measurement</th>
          <th colspan=1>Trim</th>
        </tr>
      </thead>
      <tbody>
        {% for item in results %}
          <tr>
            <td>{{ item.prod_type }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.LframeWidth }}</td>
            <td>{{ item.LframeHeight }}</td>
            <td>{{ item.louverQty }}</td>
            <td>{{ item.louver }}</td>
            <td>{{ item.railQty }}</td>
            <td>{{ item.rail }}</td>
            <td>{{ item.stileQty }}</td>
            <td>{{ item.stile }}</td>
            <td>{{ item.trim }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
