
body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #EDEDED;
  text-align: center;
}

.input-username {
  margin-bottom: 3px;
}

.input-password {
  margin-bottom: 10px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
