
@media print {

  #main-content, .wrapper {
    margin:0;
  }

  .card, .card-header {
    border: none;
  }

  .card-header {
    display: none;
  }

  .card-section {
    color: #000;
  }

  th {
    color: #424a5d;
  }

  td {
    border: 0.5px solid #aeb2b7;
  }

}
