
/* font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* body
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
	color: #888888;
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  font-size: 13px;
}

html, body {
	margin: 0;
	padding: 0;
  height: 100%;
}

#page {
	background-color: #ffffff;
	margin: 0 auto;
	max-width: 100%;
  min-height: 100%;
  position: relative;
}


/* header
--------------------------------------------------------------*/
header {
    display: block;
}

.header-wrap {
	padding-top: 15px;
}

a.logo {
    font-size: 20px;
    color: #e4e4e4;
    float: left;
    margin-top: 15px;
}

a.logout {
    color: #e4e4e4;
    font-size: 15px;
}

.nav {
  padding-top: 5px;
}


#header-logo {
	float: left;
	padding: 5px 20px 5px 0;
}

#header-logo img {
  margin-bottom: 0;
  max-height: 60px;
  height: auto;
  width: auto;
}

#header-text{
	float: left;
  padding-right: 30px;
}

#header-text p {
	margin-bottom: 0;
}

#header-title {
	margin-bottom: 0;
  letter-spacing: 1px;
}

#header-title a {
	color: #666666;
	font-size: 34px;
}

#header-title a:hover {
	color: #80abc8;
}


/* content
--------------------------------------------------------------*/

#content {
   padding-bottom:60px; /* Height of the footer */
	 height: 100%;
}

#content-wrapper {
  padding: 10px 10px 10px 10px;
}

.report-block {
  padding: 30px;
  background-color: #ffffff;
  color: #666666;
	margin: auto;
	max-width: 900px;
	border: 1px solid #ced4da;
}


/* navs
--------------------------------------------------------------*/

.main-nav {
  background-color: #424a5d;
}

.main-nav a {
  color: #f2f2f2;
  font-weight: 400;
  letter-spacing: .5px;
}

.main-nav ul {
  padding: 0 10px;
}

.menu {
	max-width: 900px;
	margin: auto;
	padding-top: 10px;
}


/* clearings
--------------------------------------------------------------*/
.clearfix {
	display: block;
}


/* sidebar */
#sidebar {
    width: 220px;
    height: 90%;
    position: fixed;
    background: #343b4a;
    margin-top: 70px;
}

ul.sidebar-menu {
    margin-top: 20px;
    padding: 0 20px 0 10px;
}

ul.sidebar-menu li a{
    color: #d3d3d3; /* aeb2b7 */
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 13px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

li.sub-menu {
    /* background-color: #ececee; */
    margin: 15px 0 15px 0;
    /* color: #fff; */
}

ul.sidebar-menu li a:hover {
    background: #424a5d;
    color: #fff;
}

ul.sidebar-menu li a:active {
    background: #424a5d;
    color: #fff;
}

span {
  margin-left: 5px;
}


/* Content
--------------------------------------------------------------*/
.container {
    max-width: 100%;
    background-color: #fff;
}

#main-content {
    margin-left: 220px;
}

.wrapper {
    display: inline-block;
    margin-top: 90px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

/* cards */
.card-header {
  background-color: #424a5d;
  color: #fff;
  font-size: 15px;
}

.card-section {
  border: 0.5px solid #aeb2b7;
  padding: 15px 15px 0 15px;
  margin-bottom: 15px;
}


/* login
--------------------------------------------------------------*/

.login-block {
  padding: 10px 10px 10px 10px;
  background-color: #ffffff;
  color: #666666;
	margin: auto;
	max-width: 80%;
}

#login-form {
  max-width: 330px;
  padding: 50px;
  margin: auto;
  text-align: center;
	border: 1px solid #ced4da;
}

.input-username {
  margin-bottom: 3px;
}

.input-password {
  margin-bottom: 10px;
}

/* tables */
table {
  width: 100%;
}

th {
  background-color: #424a5d;
  color: #fff;
  padding: 5px 0px 5px 0px;
  text-align:center;
}

td {
  border: 0.5px solid #aeb2b7;
  padding: 3px 15px 3px 5px;
  /* width: 150px; */
}

#manufacturing-table th {
  border: 0.5px solid #aeb2b7;
}

#manufacturing-table td {
  padding: 3px 5px 3px 5px;
}

#line-item-detail-table {
  margin-bottom: 10px;
}

/* buttons */
.btn-theme {
  color: #fff;
  background-color: #424a5d;
  border: 0.5px solid #424a5d;
  min-width: 50px;
}
.btn-theme:hover, .btn-theme02:hover,
.btn-theme:focus, .btn-theme02:focus,
.btn-theme:active, .btn-theme02:active,
.btn-theme.active, .btn-theme02.active,
.btn-theme02 a:hover,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #48bcb4;
  border-color: #48bcb4;
}

.btn-theme02, .btn-theme02 a {
  color: #fff;
  background-color: #F6C042;
  border: 0.5px solid #F6C042;
  min-width: 50px;
  max-height: 25px;
  font-size: 13px;
}

.btn-theme a {
  color: #fff;
}


.btn-lg, .btn-group-lg > .btn {
  padding: 3px 10px 3px 10px;
  /* font-size: 13px; */
  line-height: 1.5;
  border-radius: 0;
  margin-left: 10px;
}


/* lists */
ul li {
    list-style: none;
}

.right-align {
  text-align: right;
}

.right-float {
  float: right;
}


/* forms */
input[type=number] {
  margin-top: .25rem;
}

label {
  margin-bottom: 3px;
}

.form-row {
  margin-bottom: 10px;
}

#fraction {
  margin-top: 22px;
}

#line-item-form .custom-select {
  height: 30px;
}

#line-item-form .form-control {
  height: 30px;
}

.form-control {
  font-size: 13px;
}

.notes-form-field {
  width: 520px;
  height: 120px;
  border: 0.5px solid #aeb2b7;
}

.notes-btn {
  margin-top: 10px;
}

/* footer
--------------------------------------------------------------*/

#footer {
  background-color: #424a5d;
  color: #888888;
  padding: 20px 0 20px 0;
  position: absolute;
  bottom:0;
  width:100%;
}

.footer-text {
  padding: 0 15px;
  text-align: right;
}

/* other */
.mr {
  margin-right: 10px;
}

.mt {
	margin-top: 10px;
}

.textcenter {
  text-align: center;
}

hr {
  border: 0.5px solid #424a5d;
  margin-top: 5px;
}

.box-style {
  border: 0.5px solid #aeb2b7;
  margin-top: 15px;
  padding: 0 8px 0 10px;
}

.total-style {
  border-top: 0.5px solid #aeb2b7;
  margin-top: 15px;
  padding-left: 10px;
  text-align: right;
}

.hidden {
  display:none;
}
