
/* font */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

body {
    color: #424a5d;
	  background: #ececee;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
}

/* header */
.header, .footer {
    min-height: 40px;
    padding: 0 15px;
}

.header {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1002;
    background: #F6C042;
    border-bottom: 1px solid #F6C042;
    color: #fff;
}

a.logo {
    font-size: 20px;
    color: #e4e4e4;
    float: left;
    margin-top: 15px;
}

a.logout {
    color: #e4e4e4;
    font-size: 15px;
}

.nav {
  padding-top: 5px;
}


/* sidebar */
#sidebar {
    width: 220px;
    height: 90%;
    position: fixed;
    background: #343b4a;
    margin-top: 45px;
}

ul.sidebar-menu {
    margin-top: 20px;
    padding: 0 20px 0 10px;
}

ul.sidebar-menu li a{
    color: #d3d3d3; /* aeb2b7 */
    text-decoration: none;
    display: block;
    padding: 10px 0 10px 10px;
    font-size: 13px;
    outline: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

li.sub-menu {
    /* background-color: #ececee; */
    margin: 15px 0 15px 0;
    /* color: #fff; */
}

ul.sidebar-menu li a:hover {
    background: #424a5d;
    color: #fff;
}

ul.sidebar-menu li a:active {
    background: #424a5d;
    color: #fff;
}

span {
  margin-left: 5px;
}


/* content */
#container {
    width: 100%;
    height: 100%;
}

#main-content {
    margin-left: 220px;
}

.wrapper {
    display: inline-block;
    margin-top: 60px;
    padding-left: 30px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 0px;
    width: 100%;
}

/* cards */
.card-header {
  background-color: #424a5d;
  color: #fff;
  font-size: 15px;
}

.card-section {
  border: 0.5px solid #aeb2b7;
  padding: 15px 15px 0 15px;
  margin-bottom: 15px;
}


/* signin form */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.input-username {
  margin-bottom: 3px;
}

.input-password {
  margin-bottom: 10px;
}

/* tables */
table {
  width: 100%;
}

th {
  background-color: #424a5d;
  color: #fff;
  padding: 5px 0px 5px 0px;
  text-align:center;
}

td {
  border: 0.5px solid #aeb2b7;
  padding: 10px 15px 10px 5px;
  /* width: 150px; */
}

/* buttons */
.btn-theme {
  color: #fff;
  background-color: #424a5d;
  border: 0.5px solid #424a5d;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active,
.btn-theme.active,
.open .dropdown-toggle.btn-theme {
  color: #fff;
  background-color: #48bcb4;
  border-color: #48bcb4;
}


/* lists */
ul li {
    list-style: none;
}

.right-align {
  text-align: right;
}

.right-float {
  float: right;
}


/* forms */
input[type=number] {
  margin-top: .25rem;
}

select.form-control:not([size]):not([multiple]) {
height: calc(2.77rem + 2px);
}

label {
  margin-bottom: 3px;
}

.form-row {
  margin-bottom: 10px;
}

#fraction {
  margin-top: 22px;
}



/* other */
.mr {
  margin-right: 10px;
}

.textcenter {
  text-align: center;
}

hr {
  border: 0.5px solid #424a5d;
  margin-top: 5px;
}

.box-style {
  border: 0.5px solid #aeb2b7;
  margin-top: 15px;
  padding-left: 10px;
}

.total-style {
  border-top: 0.5px solid #aeb2b7;
  margin-top: 15px;
  padding-left: 10px;
  text-align: right;
}
