{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Home{% endblock %}

{% block logolink %}{% url 'dashboard:home' %}{% endblock %}

{% block sidebar %}
<aside class="d-print-none">
  <div id="sidebar">
    <ul class="sidebar-menu">
      <li class="sub-menu">
        <a href="{% url 'dashboard:home' %}">
          <i class="fas fa-cogs active"></i>
          <span>Proposals</span>
        </a>
      </li>
      <li class="sub-menu" id="test">
        <a href="{% url 'proposal:add-customer' %}">
          <i class="fas fa-file-signature"></i>
          <span>Create New Proposal</span>
        </a>
      </li>
      <li class="sub-menu">
        <a href="{% url 'dashboard:home' %}">
          <i class="fas fa-cogs"></i>
          <span>Create Manufacturing Report</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
{% endblock %} <!-- END sidebar -->


{% block content %}
<section id="container">
  <section id="main-content">
    <section class="wrapper">
      <div class="row mt">
        <div class = "col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              {% block cardheader %}
                Proposals
              {% endblock %}
            </div>
            <div class="card-body">
              {% block letterhead %}
              {% endblock %}

              {% block cardcontent %}
                {% include "dashboard/list_index.html" %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </section> <!-- END content -->
</section> <!-- END container -->
{% endblock %}
