{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Home{% endblock %}

{% block logolink %}{% url 'dashboard:home' %}{% endblock %}

{% block navbar %}
<div class="row main-menu justify-content-end noprint">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'dashboard:home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'orders:add-customer' %}">New Proposal</a>
    </li>
  </ul>
</div>
{% endblock %} <!-- END navigation bar -->


{% block content %}
  {% include "dashboard/list_index.html" %}
{% endblock %} <!-- END content -->
