{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Home{% endblock %}

{% block header %}
  {% include "dashboard/header.html" %}
{% endblock %} <!-- END header -->

{% block sidebar %}
  {% include "dashboard/sidebar.html" %}
{% endblock %} <!-- END sidebar -->


{% block content %}
<section id="container">
  <section id="main-content">
    <section class="wrapper">
      <div class="row mt">
        <div class = "col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="card-header">
              {% block cardheader %}
                Proposals
              {% endblock %}
            </div>
            <div class="card-body">
              {% block letterhead %}
              {% endblock %}

              {% block cardcontent %}
                <div class="row mt">
                  <div class="col-lg-4 col-md-4 col-sm-12 textcenter">
                    <button class="btn-theme btn-lg noprint">
                      <a href="{% url 'dashboard:list-index' 'All' type %}">Total: {{ p_all }}</a>
                    </button>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 textcenter">
                    <button class="btn-theme btn-lg noprint">
                      <a href="{% url 'dashboard:list-index' 'Approved' type %}">Approved: {{ p_approved }}</a>
                    </button>
                  </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 textcenter">
                    <button class="btn-theme btn-lg noprint">
                      <a href="{% url 'dashboard:list-index' 'Pending' type %}">Pending: {{ p_pending }}</a>
                    </button>
                  </div>
                </div>
                <br>
                {% block listcontent %}
                {% endblock %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </section> <!-- END content -->
</section> <!-- END container -->
{% endblock %}
