{% load widget_tweaks %}


<table class="textcenter">
  <thead>
    <th>Created Date</th>
    <th>Customer</th>
    <th>Agents</th>
    <th>Measured By</th>
    <th>Status</th>
    <th></th>
  </thead>
  <tbody>
    {% for p in proposals %}
      <tr>
        <td>{{ p.created_date }}</td>
        <td>{{ p.customer }}</td>
        <td>
          {% for a in p.agents.all %}
            {{ a }}
            {% if forloop.last %}
            {% else %},&nbsp;
            {% endif %}
          {% endfor %}
        </td>
        <td>
          {% for m in p.measured_by.all %}
            {{ m }}
            {% if forloop.last %}
            {% else %},&nbsp;
            {% endif %}
          {% endfor %}
        </td>
        <td>{{ p.status }}</td>
        <td>
          <button class="btn btn-theme">
            <a class="btn btn-theme" href="{% url 'orders:final-proposal' p.id %}">View</a>
          </button>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
